@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&family=Italiana&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .gothic{
        font-family: 'Gothic A1', sans-serif;

    }
    .italiana{
        font-family: 'Italiana', serif;
    }

    .navlist{
        @apply w-auto h-10 my-5 flex items-center justify-center
    }

    .categories{
        @apply flex-col  border-l-4 border-black ml-4 px-4 h-fit align-middle
    }

    .icard{
        @apply flex items-center mb-4 
    }

    .footText{
        @apply text-lg text-white gothic
    }

    .head1{
        @apply text-4xl font-bold w-fit mx-auto text-center my-4
    }

    @keyframes bounce {
        0%, 100% {
          transform: translateY(-25%);
          animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
}

.custom-image {
    transform: perspective(400px) rotate3d(1, 0, 0, calc(var(--i, 1) * 3deg));
    mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100% / 240% 240%;
    transition: 0.4s;
    cursor: pointer;
  }
  
  
  .diveffect:hover{
    cursor: pointer;
    
  }
  
  .custom-image:hover{
    --i: -1;
    mask-position: 0 0;
    
  }
  

  .diveffect:hover + .custom-image {
    --i: -1;
    mask-position: 0 0;
    
  }

  .boxshadow{
   box-shadow:  0 0 10px rgba(0, 0, 0, .25);
  } 